<h1>Félicitations pour votre inscription à Zurvan !</h1>

<p>
    Afin de vérifier que votre adresse est bonne, veuillez vérifier votre email en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Au plaisir !
</p>
