.container{
    margin-top:20px;
}

.card{
    border: 1px solid var(--zurvan-blue);
    position:relative;
}
.fas{
    cursor:pointer;
}
.fa-plus{
    position: absolute;
    top:15px;
    right:20px;
    font-size: 2rem;
    color: var(--zurvan-blue);
    background-color: white;
    padding:5px 7px 5px 7px;
    border-radius: 50px;
}

.card-header{
    background-color: var(--zurvan-blue);
    color:white;
    text-align:center;
}

li{
    position:relative;
}

li:hover .editButtons{
    visibility: visible;
}

.editButtons{
    position: absolute;
    top:10px;
    right:20px;
    visibility: hidden;
}

.editButtons * ~ *{
    margin-left:10px;
}