:root{
    --zurvan-modal:#00000080;
    --zurvan-green:#78DE95;
    --zurvan-green-modal:#78DE9580;
    --zurvan-green2:#62DE85;
    --zurvan-green2-modal:#62DE8580;
    --zurvan-blue:#8E95DE;
    --zurvan-blue-modal:#8E95DE80;
    --zurvan-red: #e05e5e;
    --zurvan-red-modal: #e05e5e80;
    --zurvan-yellow: #dec66d;
    --zurvan-yellow-modal: #dec66d80;
}

/* Common code */
a{
    color:black;
    text-decoration: none!important;
}

input, input:focus{
    border-right: none;
    border-left: none;
    border-top:none;
    outline: none;
}

input:focus {
    border-color: black;
}

body{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight:700;
}

/* Loading animation */
.loader {
    display:block;
    color: black;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Header */
header, #profileWidget, .widgetButtons{
    display:flex;
    flex-direction: row;
}

header{
	margin-top: 20px;
    justify-content: space-between;
    padding:0 20px 0 20px;
}

#logoHeader{
    height:100px;
}

#profileWidget{
    background-color: var(--zurvan-green);
    border-radius:50px;
    padding:0 15px 0 5px;
    height:100px;
    align-items: center;
}

#avamin{
    border-radius: 100%;
    width: 90px;
    height: 90px;
    overflow:hidden;
    background-size: cover;
}

#profileWidget p{
    max-width:150px;
    padding:0 5px 0 5px;
    margin-bottom:10px!important;
    background-color: white;
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widgetButtons{
    justify-content: space-evenly;
}

#profileWidget i{
    background-color: white;
    padding:5px;
    border-radius: 50px;
    font-size: 30px;
}

/* Footer */
footer{
    margin-top:20px;
    margin-bottom:20px;
	border:1px solid var(--zurvan-green);
	border-radius:20px;
}
footer div{
    text-align:center;
}

/* Modals */
.modal{
    background-color: var(--zurvan-modal);
}

.close{
    opacity:1;
}

.modal-header{
    border-bottom:none;
}

.modal-footer{
    border-top:none;
    justify-content: space-around;
}

/* Cookie banner */
.hidden {
    display: none;
}

#cookie-banner {
    padding: 1rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--zurvan-green);
	z-index:5;
}

#cookie-banner div {
    background-color:var(--zurvan-red);
    color: #ebf8ff;
    border-radius: 9999px;
    padding: 0.5rem 0.75rem;
    line-height: 1;
    align-items: center;
    display: inline-flex;
}

#cookie-banner div span:first-child {
    text-align: left;
    margin-right: 0.5rem;
    font-weight: 600;
    flex: 1 1 auto;
}

#cookie-banner div #consent-cookies {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    font-weight: 700;
    display: flex;
    cursor: pointer;
    border-radius: 9999px;
    background-color: #4299e1;
}