{% extends 'zurwan.base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
{% endblock %}

{% block body %}
    <form>
        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br/>
        <div class='errormessage' id='erroremail'>Email non valide.</div>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password"><i class="fas fa-eye-slash"></i><br>
        <div class='errormessage' id='errorpass1'>Mot de passe trop court (12 caractères minimum).</div>
        <div class='errormessage' id='errorpass2'>Pas assez de caractères divers (au moins une minuscule, une majuscule, un chiffre et un caractère spécial)</div>
        <button id="createAccount">Créer compte</button>
    </form>
{% endblock %}

{% block scriptend %}
    <script src="{{ asset('assets/js/register.js') }}"></script>
{% endblock %}