Zurvan<br>
<br>
L'utilisateur {{ user.email }} vous a retiré l'accès à son calendrier. <br>
Si vous désirez lui redemander l'accès, vous pouvez vous rendre sur <a href="{{ url('users_update',{id:user.id}) }}">son profil</a> afin de l'y autoriser. <br>
Dans le cas contraire, merci d'ignorer ce mail (vous l'aurez déjà fait de toute façon).<br>
<br>
L'équipe Zurvan.