Zurvan - L'utilisateur {{ user.email }} désire accéder à votre calendrier. <br>
Si vous désirez lui autoriser l'accès, vous pouvez vous rendre sur <a href="{{ url('users_update',{id:user.id}) }}">son profil</a> afin de l'y autoriser. <br>
Dans le cas contraire, merci d'ignorer ce mail (vous l'aurez déjà fait de toute façon).<br>

L'équipe Zurvan.