{% extends 'zurwan.base.html.twig' %}

{% block title %}Zurvan - répertoire de contacts{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/contacts.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header"><h2>Répertoire</h2></div>
            <ul class="list-group list-group-flush">
            {% for infos in request %}
                <li class="list-group-item">
                {% for key, info in infos %}
                    <strong>{{ key }}</strong> : {{ info }}<br>
                {% endfor %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
